body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:whitesmoke;
    color: black;
}
header{
    
  visibility: visible;
}
header  img{
  
height:300px;  
}
 #intro{
    color: black;
    font-family:cursive;
    font-style: oblique;
    font-size: 50px;
    
}